<mat-toolbar class="navbar">
  <div class="navbar">
    <span>Store</span>
  </div>

  <div class="user-data" *ngIf="authService.getDataUser()">
    <div class="image-user">
      <img src="https://via.placeholder.com/350x150" />
    </div>
    <div class="menu-user">
      <button mat-button [matMenuTriggerFor]="menu">
        {{ authService.getDataUser().name }}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="setting()">Settings</button>
        <button mat-menu-item (click)="changeLang()">Ar</button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
<mat-divider></mat-divider>

<mat-toolbar>
  <mat-list role="list">
    <mat-list-item
      role="listitem"
      routerLink="products"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >All</mat-list-item
    >
    <mat-list-item
      role="listitem"
      *ngFor="let cat of categories"
      routerLink="products/category/{{ cat }}"
      routerLinkActive="active"
      >{{ cat }}</mat-list-item
    >
  </mat-list>
</mat-toolbar>
<router-outlet></router-outlet>
